<h2>Edit Landmark</h2>
<form method="post" action="/landmarks/<%=@landmark.id%>">
  <input type="hidden" name="_method" value="patch">
  <p>Landmark Name: <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></p>
  <p>Year Completed: <input type"text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></p>
  <input type="submit" value="Edit Landmark">
</form>
