<h1>Landmarks: </h1>

<% Landmark.all.each do |landmark| %>
  <ul>
    <li>
      <a href="/landmarks/<%=landmark.id%>"><%= landmark.name %> - <%= landmark.year_completed %> </a> | <a href="/landmarks/<%=landmark.id%>/edit">Edit</a>
    </li>
  </ul>
<% end %>

<a href="/landmarks/new">Create New Landmark</a>