<table>
	<tr>
		<th>Name</th>
	</tr>
	<% Landmark.all.each do |landmark| %>
		<tr>
			<td><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></td>
			<td><%= landmark.year_completed %></td>
		</tr>
	<% end %>
</table>