<h1>Make A New Landmark!</h1>
<form action="/landmarks" method="post">
	<p>
		<label for="landmark_name">Landmark Name: </label>
		<input type="text" id="landmark_name" name="landmark[name]">
	</p>
	<p>
		<label for="landmark_year_completed">Year Completed: </label>
		<input type="number" id="landmark_year_completed" name="landmark[year_completed]">
	</p>
	<input type="submit" value="Create New Landmark">
</form>