<h1>Add A New Landmark:</h1>

<form action="/landmarks" method="POST">
  <input id="landmark_name" type="text" name="landmark[name]" placeholder="Name">
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" placeholder="Year Completed">
  <br><br>
  <input type="submit" value="Create New Landmark">
</form>
