<h1>Create a new landmark</h1>

<form action="/landmarks" method="post">
	<h3>Name:</h3>
	<input id="landmark_name" type="text" name="landmark[name]">
	<br>
  <h3>Year completed:</h3>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" name="" value="Create New Landmark">
</form>
