<form action="/landmarks" method="post">
  <h4>New landmark: <input type="text" id="landmark_name" name="landmark[name]"></h4>
  <h4>Year Built: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></h4>
  <input type="submit" value="Create New Landmark">
</form>


