<h1>Create Landmark</h1>
<form action="/landmarks" method="POST" >
  <h3>Name: <input type="text" id="landmark_name" name="landmark[name]" ></h3>
  <h3>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]" ></h3>
  <h3><input type="submit" value="Create New Landmark" ></h3>

</form>
