<form action="/landmarks" method="post">
	<h3>Landmark Name:</h3>
	<input id="landmark_name" type="text" name="landmark[name]">
	<h3>Year Completed:</h3>
	<input id="landmark_year_completed" type="text" name="landmark[year_completed]">
	<br>
	<input type="submit" value="Create New Landmark">

</form>