<h2>Add New Landmark</h2>
<br></br>
<form method = "POST" action = "/landmarks">
<p>Landmark name: <input type = "text" name = "landmark[name]" id="landmark_name"></p>
<p>Completion year: <input type = "text" name = "landmark[year_completed]" id ="landmark_year_completed"></p>


<p><input type = "submit" value="Create New Landmark"></p>
</form>

<br></br>
