<h3>Create New Landmark</h3>
<form action="/landmarks" method="post">
  <label><strong>Name: </strong></label><br>
  <input id="landmark_name" type="text" name="landmark[name]">

  <label><strong>Year Completed: </strong></label>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]">

  <input type="submit" name="" value="Create New Landmark">
</form>