<h2>Create new landmark</h2>

<form action="/landmarks" method="POST">
  <p>
    <label for="name">Landmark Name:</label>
    <input id="landmark_name" type="text" name="landmark[name]">
    <label for="year">Year Completed:</label>
    <input id="landmark_year_completed" type="number" name="landmark[year_completed]">
  </p>

  <button type="submit" value="Create New Landmark"></button>

</form>