<h1>Create a new landmark</h1>
<form method="POST" action="/landmarks">
  <h4><label>Name:</label><h4>
  <input type="text" name="landmark[name]" id="landmark_name"><br>

  <h4><label>Year created:</label><h4>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br><br>

  <input type="submit" value="Create New Landmark">
</form>