<h2>Create New Landmark</h2>
<form METHOD="POST" action="/landmarks">
<br><br>
<label>Landmark Name:</label>
<input type="text" id="landmark_name" name="landmark[name]">
<br><br>
<label>Year Completed:</label>
<input type="text" id="landmark_year_completed" name="landmark[year_completed]">

<input type="submit" value="Create New Landmark">
</form>

