<h3>Create a New Landmark</h3>
<form method="post" action="/landmarks">
  <p>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="year-completed"></p>
  <input type="submit" value="Create New Landmark">
</form>
