<form action="/figures/<%=@figure.id%>" method="POST">
  Figure Name: <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>">
  <br></br>

  Titles: <input type="text" id="title_ids" name="figure[title_ids]">

  <br></br>

  Landmark: <input type="text" id="new_landmark" name="figure[landmark_ids]">
  <br></br>


  <button><type="submit" value="submit">Edit Figure</button>
</form>
