<h3><%= @figure.name %></h3>

  <h3>Landmarks</h3>
  <ul>
    <% @figure.landmarks.each do |landmark| %>
    <li>
      <a href="landmarks/<%= landmark.id %>">
        <%= landmark.name %>
      </a>
    </li>
    <% end %>
  </ul>

  <h3>Titles</h3>>