<h1><%= @figure.name %></h1>
<h2>Titles:</h2>
<p>
	<% @titles.each do |title| %>
	<%= title.name %>
<% end %>
</p>

<h2>Landmarks:</h2>
<p>
	<% @landmarks.each do |landmark| %>
	<%= landmark.name %>
<% end %>
</p>


	