<%= erb :'/layouts/_header' %>
<h1>Welcome to Sinatra NYC lab</h1>

<ul>
  <li><h3><a href="/figures">View Figures</a></h3></li>
  <li><h3><a href="/landmarks">View Landmarks</a></h3></li>
</ul>
<%= erb :'/layouts/_footer' %>